node_modules/
dist/
.pnpm-store/

# PocketBase
pb/pocketbase
pb/pocketbase.exe
pb_data/
pb_data_clean/
pb_data_fresh/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.production

# Build artifacts
*.tgz
